.body { color: #474747; font-size: 13px; font-family: arial, sans-serif; line-height: 18px; word-spacing: 1px; margin-top: 2px; margin-right: 6pt; }
  .body1 { color: #474747; font-size: 13px; font-family: arial, sans-serif; word-spacing: 1px;  margin-right: 6pt; }
  .body2 { color: #636363; font-size: 13px; font-family: arial, sans-serif; line-height: 20px; word-spacing: 1px; margin-top: 2px; margin-right: 6pt; }
  .body3 { color: #636363; font-size: 11px; font-family: arial, sans-serif; line-height: 20px; word-spacing: 1px; margin-top: 2px; margin-right: 6pt; }
  .links { color: #0b5f9b; font-size: 12px; font-family: arial; line-height: 16px; text-decoration: none}
  .links:hover { color: #0b5f9b; font-size: 12px; font-family: arial; line-height: 16px; text-decoration: underline; }
  .bodysm { color: #5d5d5d; font-size: 11px; font-family: arial, sans-serif; line-height: 14px; word-spacing: 1px; margin-top: 2px; margin-right: 6px; }
  .loggedIn { font-family: arial; font-size: 8pt; font-style: normal; font-weight: normal; color: #882222; background: #ffffff }
  .veritcalline { background-image: url(../images/blueLineVertical.jpg); background-repeat: repeat-y; }
  .veriticalRed { background-image: url(../images/redlineV.jpg); background-repeat: repeat-y; }
  .veriticalgreen { background-image: url(../images/greenLineV.jpg); background-repeat: repeat-y; }
  .horizontalline { background-image: url(../images/blueline.jpg); background-repeat: repeat-x; }
  .horizontalgreen { background-image: url(../images/greenLineH.jpg); background-repeat: repeat-x; }
  .horizontalred { background-image: url(../images/redlineH.jpg); background-repeat: repeat-x; }
  .titles { color: #0b5f9b; font-size: 16px; font-family: "trebuchet ms"; }
  .titles14 { color: #873307; font-size: 14px; font-family: "trebuchet ms"; }
  .titles141 { color: #873307; font-size: 14px; font-family: "trebuchet ms"; line-height: 180%; }
  .captionswhite { color: #ffffff; font-style: italic; font-size: 9pt; font-family: "Times New Roman", Georgia, Times; text-align: justify }
  .captionsgrey { color: #333333; font-style: italic; font-size: 9pt; font-family: "Times New Roman", Georgia, Times; text-align: justify }
